@model Conference

<form asp-action="DeleteConference" enctype="multipart/form-data">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Delete Conference</h1>
        <hr />

        <input hidden asp-for="Id" />
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-2">
                        <label asp-for="Date" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Date" disabled class="form-control" />
                    </div>

                    <div class="col-2">
                        <label asp-for="Title" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Title" disabled class="form-control" />
                    </div>

                    <div class="col-2">
                        <label asp-for="Country" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <textarea asp-for="Country" disabled class="form-control" rows="5"></textarea>
                    </div>

                    <div class="col-2">
                        <label asp-for="Url" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Url" disabled class="form-control" />
                    </div>

                    <div class="col-2">
                        <label asp-for="EventStatus" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="EventStatus" disabled class="form-control" />
                    </div>

                    <div class="col-2">
                        <label asp-for="Organizer" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Organizer" disabled class="form-control" />
                    </div>

                    <div class="col-2">
                        <label asp-for="Deadline" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Deadline" disabled class="form-control" />
                    </div>

                    <div class="col-2">
                        <label asp-for="StartDate" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="StartDate" disabled class="form-control" />
                    </div>

                    <div class="col-2">
                        <label asp-for="EndDate" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="EndDate" disabled class="form-control" />
                    </div>

                    <div class="col-2">
                        <label asp-for="Secretary" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Secretary" disabled class="form-control" />
                    </div>

                    <div class="col-2">
                        <label asp-for="InquiryEmail" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="InquiryEmail" disabled class="form-control" />
                    </div>

                    <div class="col-2">
                        <label asp-for="RegistrationUrl" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="RegistrationUrl" disabled class="form-control" />
                    </div>

                    <div class="col-5 offset-2">
                        <a asp-action="Index" asp-controller="Home" class="btn-primary btn form-control">Back to List</a>
                    </div>
                    <div class="col-5">
                        <input type="submit" value="Delete" class="btn btn-danger form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}